body {
  width: 100%;
  height: 100%;
  margin: 0;
  text-align: center;
}

nav a {
  padding-left: 10px;
  padding-right: 10px;
  background: gray;
}

#featured-property p {
  font-size: smaller;
  width: 800px;
  margin: 0 auto;
  padding-top: 10px;
}

#details div{
  float: left;
  text-align: center;
  background: coral;
  width: 25%;
}